.layout-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  max-width: 250px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0F4C75;
  color: white;
  padding: 20px 0 20px 20px;
  border-top-right-radius: 40px;
  /* border-bottom-right-radius: 40px; */
}

.sidebar h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 10px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar a.active {
  background-color: #BBE1FA;
  color: #0F4C75;
  font-weight: bold;
}

.sidebar a:hover {
  background-color: #BBE1FA;
  color: #0F4C75;
}

.sidebar .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* Botão sair */
.btn-side {
  box-sizing: border-box;
  max-width: 80px;
  width: 100%;
  background-color: #0F4C75;
  color: #E5E5E5;
  border: 1px solid transparent;
  text-align: start;
  margin-top: 0;
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 10px;
}

.btn-side:hover {
  border-color: #BBE1FA;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 300px;
}
