/* styles/layout.css */



.layout-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  max-width: 300px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0F4C75;
  color: white;
  padding: 20px 0 20px 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.btn-side {
  box-sizing: border-box;
  max-width: 80px;
  width: 100%;
  background-color: #0F4C75;
  color: #E5E5E5;
  border: 1px solid transparent;
  text-align: start;
  margin-top: 0;
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
  cursor: pointer;
  border-radius: 8px;
}

.btn-side:hover {
  border-color: #BBE1FA;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
  padding: 20px;
}

.sidebar a.active {
  background-color: #BBE1FA;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #0F4C75;
}

.sidebar a:hover {
  background-color: #BBE1FA;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
}