@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom left, #FFA500 70%, #000000 100%);
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  padding: 2px;
  gap: 2px;
}

.paragrafo {
  color: #5c400c;
  text-align: center;
  font-size: 18px;
}

h1, 
h2 {
  color: #fff;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #a46b01;
  max-width: 100%;
  width: 450px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #FFA500;
    border: none;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    border: solid 1px #a46b01;
    border-radius: 30px;
    height: 40px;
    background-color: #5c400c;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}

.card {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #c88c1c9e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & p {
    color: #fff;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
  }

  & .btn-container {
    display: flex;
    justify-content: center;
  }

  & button {
    max-width: 24px;
    width: 100%;
    height: 24px;
    margin: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & button:hover {
    opacity: 0.5;
  }

  & input {
    width: 90%;
  }

}

